/* Reset some default browser styles */
body, h1, p, button {
    padding: 0;
}
/* Define a common background color for sections */
body {
    background-color: #f5f5f5;
    font-family: arial;
}
/* Style the header section */
header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    width:90%;
}
.title {
    width:50%;
}
.title h1 {
    margin-top:1% ;
    font-size: 40px;
    margin-bottom: 20px;
    margin-left:7% ;
    text-align: left;
    color: #56c5d6;
    font-weight: lighter;
}
.canvasContainer{
	width:100%;
	text-align: center;
}

#glCanvas{
	 width:55%;


	 
}